extends layout

block content
  .jumbotron
    h1 Welcome to Members only!
    p An exclusive Club House where members can write embarrassing posts about non-members.
    a.btn-primary.btn.btn-lg(href='/messages') View messages