extends layout

block content
  h1.text-center.text-primary= title
  div.row
    div.col-md-4
    div.col-md-4
      form(action="" method="POST")
        div.form-group.form-group-lg
          label.sr-only(for="text") Text
          textarea#text.form-control(name="text" cols="30" rows="5" placeholder="Type your message here..." required="true" value=(undefined === msg ? '' : msg.text))
        button.btn.btn-lg.btn-primary.btn-block(type="submit") Create
      if errors 
        ul.text-danger
          for error in errors
            li!= error.msg