extends layout

block content
  h1.text-center.text-primary Sign up
  div.row
    div.col-md-4
    div.col-md-4
      form(action="/users/create" method="POST")
        div.form-group
          label.sr-only(for="first_name") First name
          input#first_name.form-control(type="text" name="first_name" placeholder="First name" required="true" autofocus="true")
        div.form-group
          label.sr-only(for="last_name") Last Name
          input#last_name.form-control(type="text" name="last_name" placeholder="Last name" required="true")
        div.form-group
          label.sr-only(for="username") Username
          input#username.form-control(type="text" name="username" placeholder="Username" required="true")
        div.form-group
          label.sr-only(for="password") Password
          input#password.form-control(type="password" name="password" placeholder="Password" required="true")
        div.form-group
          label.sr-only(for="confirm_password") Confirm password
          input#confirm_password.form-control(type="password" name="confirm_password" placeholder="Password Confirmation" required="true")
        button.btn.btn-lg.btn-primary.btn-block(type="submit") Submit